@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  padding-top: 35px;
}

.myInput {
  width: 40%;
  padding: 10px;
  margin: 9px;
  border: 2px solid #fd4766;
  border-radius: 500px;
  font-size: 15px;
  outline: none;
}

.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

.contactcontainer {
  min-height: 81.5vh;
}
